body{
	font-family: 'Inter', sans-serif;
	position: relative;
	
	
	/* Light blue/light-blue-100 */
	background: #F3F5FC;		
}
.logo{
	/* Auto layout */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 40px;

	position: absolute;
	width: 120px;
	height: 48px;
	left: 40px;
	top: 40px;
}
.main {
	width: 40%;
    margin: 8% 50% 0 20%;
}
.mainTextArea {
	position: absolute;
	width: 40%;
	height: 48px;
	left: 240px;
	top: 168px;
}

#codificar {
	/* Digite seu texto */
	margin: 5px 0 0 20px;
	width: 680px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	display: block;
	color: #0A3871;	
	border: none;
	background: #F3F5FC;
	outline: none;
    resize: none;
    overflow: auto;

}

.mainInformation {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 8px;

	position: absolute;
	width: 252px;
	height: 18px;
	left: 240px;
	top: 851px;

}
.mainInformation .informacaoImg{
	width: 16px;
	height: 16px;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.mainInformation p{
	/* Apenas letras minúsculas e sem acento. */

	width: 228px;
	height: 18px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 150%;
	color: #495057;
}

.mainButton {

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 24px;

	position: absolute;
	width: 669px;
	height: 67px;
	left: 240px;
	top: 885px;
}

.mainButton button {

	
	padding: 24px;
	gap: 8px;

	width: 328px;
	height: 67px;

	
	background: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;

	/* Inside auto layout */
	
	order: 0;
	flex-grow: 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 19px;
	text-align: center;
	color: #0A3871;;

}

.mainButton button:hover{
	background: #0A3871;
	color: #FFFFFF;
	
}

.mainAreaCriptografia{
	/* Rectangle 1 */

	position: absolute;
	width: 400px;
	height: 944px;
	left: 1000px;
	top: 40px;
	float: right;
	padding: auto;
	/* White */
	background: #FFFFFF;

	/* shadow */
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	border-radius: 32px;
}

.resposta {
    border: none;
    background: none;
    font-size: 2em;
    color: #0A3871;
    font-family: 'Inter';
    resize: none;
	padding-left: 30px;
	padding-top: 30px;
    width: 400px;
    line-height: 108%;
}

.imagem-nadaAchado{
	position: absolute;
	width: 336px;
	height: 304px;
	left: 32px;
	top: 283px;
}
.textoCriptografia {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	text-align: center;
	position: absolute;
	width: 336px;
	height: 122px;
	left: 32px;
	top: 619px;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.textoCriptografia h1{
	text-align: center;
	font-size: 1.5em;
}

.textoCriptografia p{
	font-size: small;
}

.btnCopiar:hover, .limparBtn:hover {
    background: #0A3871;
    
    border: 1px solid #FFF;
   
    color: #FFF;
    
}

.limparBtn, .btnCopiar {
    background: #D8DFE8;
    border-radius: 15px;
    border: 1px solid #0A3871;
    width: 140px;
    padding: 15px;
    color: #0A3871;
    font-family: 'Inter';
    font-size: 18px;
    box-shadow: 0px 2px 8px black;
    cursor: pointer;
    margin: 12px 0 0 16px;
}

.btnCopiar{
	margin-left: 50px;
}
 
.desenvolvedor{
	text-align: center;
	font-size: 12px;
	position: absolute;
	width: 480px;
	height: 304px;
	left: 250px;
	top: 980px;
}
